*{
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

.hr-style{
    border: 2px solid black;
    width: 100px;
    margin: 0 auto;
    opacity: 1;
}
.hr-style1{
    border: 2px solid black;
    width: 100px;
    opacity: 1;
}
.service{
    width: 100px;
    object-fit: contain;
    height: 30%;
}
.card{
    border: none;
}
.service-card{
    box-shadow: 5px 5px 10px rgba(128, 128, 128, rgba(128, 128, 128, 0.185)),-10px -10px 20px rgba(128, 128, 128, 0.201);
}
#services-section{

    background-image: url(images/Vector.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}